body {
  font-family: 'Poppins', sans-serif;
}

/* Grid CSS */
#heroGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-gap: 10px;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25% ;
  grid-template-areas: 
  "featuredProduct secondaryProduct"
  "featuredProduct CTA"
}

#featuredProduct {
  background-image: url("../images/furniture1.png");
  grid-area: featuredProduct;
}

#secondaryProduct {
  background-image: url("../images/furniture2.png");
  grid-area: secondaryProduct;
}

#CTA {
  justify-content: space-around;
  cursor: pointer;
  background-image: url("../images/woodbg.png");
  grid-area: CTA;
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#headline {
  border-bottom: 5px solid #FF6200;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  z-index: 10;
  
  top: 20%;
  right: -5%;
}

/* Category Grid CSS */
.subHeading {
  text-align:center;
  border-bottom: 2px solid black;
  width: 300px; 
  margin: 50px auto;
}

#categoryGrid {
  margin: 0px 5%;
  display: grid; 
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  "bookcases bedroom patio"  
  "couches couches patio" 
  "desks desks desks" 
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  position: relative;
}

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  /* padding: 5px; */
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200; 
  position: absolute;

  width: 100%;
  box-sizing: border-box;
  bottom: 0px;
  margin-bottom: 10px;
  padding: 0px 10px 30px 10px;
}

#bookcases {
  justify-content: space-around;
  cursor: pointer;
  background-image: url("../images/bookcases.png");
  grid-area: bookcases; 
}

#bedroom {
  justify-content: space-around;
  cursor: pointer;
  background-image: url("../images/beds.png");
  grid-area: bedroom; 
}

#patio {
  justify-content: space-around;
  cursor: pointer;
  background-image: url("../images/patio.png");
  grid-area: patio;
}

#couches {
  justify-content: space-around;
  cursor: pointer;
  background-image: url("../images/couch.png");
  grid-area: couches;
}

#desks {
  justify-content: space-around;
  cursor: pointer;
  background-image: url("../images/desks.png");
  grid-area: desks;
}

/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

@media screen and (max-width: 1000px) {
  #navigation {
    display:none;
  }
  #icons {
    display: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas: 
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-columns: 100%;
    grid-template-rows: 300px 300px 300px 300px 300px; 
    grid-template-areas: "bookcases" "bedroom" "patio" "couches" "desks";
  }
}